In [26]:
# Imports
from pandas import read_json, read_csv

In [ ]:
# Read in .json and transform
df = read_json('LLM_price_predictions.json', orient='records')
df.columns = ['Date', 'LLM_predicted_price']
df.set_index('Date', inplace=True)
df

            LLM_predicted_price
Date
2015-01-12                24.99
2015-01-13                24.98
2015-01-14                25.00
2015-01-15                24.25
2015-01-16                23.50
...                         ...
2024-12-23               254.98
2024-12-24               255.50
2024-12-26               258.00
2024-12-27               258.74
2024-12-30               257.32

[2509 rows x 1 columns]

In [28]:
# Read in baseline data
stock_data_filepath = '../../../data/clean/multimodal_inputs/baseline_transformed_dataset_AAPL.csv'
lstm_df = read_csv(stock_data_filepath, index_col='Date')
lstm_df

             AAPL(t-1)     AAPL(t)
Date
2015-01-05   24.320435   23.635284
2015-01-06   23.635284   23.637510
2015-01-07   23.637510   23.968960
2015-01-08   23.968960   24.889904
2015-01-09   24.889904   24.916597
...                ...         ...
2024-12-23  254.210510  254.989655
2024-12-24  254.989655  257.916443
2024-12-26  257.916443  258.735504
2024-12-27  258.735504  255.309296
2024-12-30  255.309296  251.923019

[2514 rows x 2 columns]

In [31]:
# Reindex
df_reindex = df.reindex(lstm_df.index, method=None)
df_processed = df_reindex['LLM_predicted_price'].fillna(lstm_df['AAPL(t-1)'])
df_processed

Date
2015-01-05     24.320435
2015-01-06     23.635284
2015-01-07     23.637510
2015-01-08     23.968960
2015-01-09     24.889904
                 ...
2024-12-23    254.980000
2024-12-24    255.500000
2024-12-26    258.000000
2024-12-27    258.740000
2024-12-30    257.320000
Name: LLM_predicted_price, Length: 2514, dtype: float64